@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

.navbar {
  box-shadow: 0px 2px 2px 0px #000000;
  position: fixed;
  width: 100%;
  background: #fff;
  color: #000;
  height: 50px;
  z-index: 12;
}

.navbar-container {
  position:static;
  display: flex;
  justify-content: space-between;
  height: 64px;
  align-items: center;
}

.navbar a:link {
  color: black;
  text-decoration: none; 
}

.navbar a:visited {
  color: black;
  text-decoration: none;
  
}

.navbar a:hover {
  color: black(14, 123, 116);
  
  text-decoration:underline;
  
}

.navbar a:active {
  color: rgb(0, 0, 0);
  font-weight:500;
}


.logo {
  margin-left:3%;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

@media (max-width: 800px) {
  .navbar-container {
    flex-direction: row;
  }
}


.container {
  max-width: 1200px;
  width: 90%;
  margin: auto;
}

.btn {
  display: inline-block;
  padding: 0.4em 1.2em;
  text-decoration: right;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
  margin-top: 1em;
  align-items: right;
  font-weight:small;
  
}

.btn-primary {
  color: #000000;
  background: #fff;
  
}

.btn-primary:hover {
  
  background: #1b9e9e;
 
  transition:ease-in-out ;
  display: inline-block;
}

.showcase-area {
  height: 50vh;
  background:
    url("dr2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#showcase
{
  padding-left: 8rem;
}

.showcase-container {
  display: flex;
  flex-direction: column;
  padding: 50px 0;
  align-items:right; 
 justify-content: right;
  
  height: 100%;
  font-size: 1.6rem;
  
}
.second-title {
    color: #fff;
  
}
.main-title {
    color: #fff;
  text-transform: uppercase;
  margin-top: 1.5em;
  text-align: left;
}



#about {
  padding: 50px 0;
  background: #f5f5f7;
}

.about-wrapper {
  display: flex;
  flex-direction: row;
}
@media (max-width: 800px) {
  .about-wrapper {
    flex-direction: column;
  }
}


#about h2 {
  font-size: 2.3rem;
}

#about p {
  font-size: 1.2rem;
  color: #555;
}

#about .small {
  font-size: 1.2rem;
  color: #666;
  font-weight: 600;
}

.about-img {
  flex: 1 1 500px;
  
  padding-top: 7%;
  transform: translateY(45%);
  animation: about-img-animation 1.7s ease-in-out forwards;
}

@keyframes about-img-animation {
  100% {
    transform: translate(0);
  }
}

.about-text {
  flex: 1 1 400px;
  padding: 30px;;
  margin: auto;
  transform: translateY(45%);
  animation: about-text-animation 1.7s ease-in-out forwards;
}

@keyframes about-text-animation {
  100% {
    transform: translate(0);
  }
}

.about-img img {
  display: block;
  max-height: 100%;
  max-width: 100%;
  margin: auto;
  
  object-position: right;
}




#garage {
  padding: 5rem 0 10rem 0;
}

#garage h2 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 40px;
  text-transform: uppercase;
  color: #555;
}

.gallery-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

@media (max-width: 800px) {
  .gallery-container {
    flex-direction: column;
  }
}

.gallery-container img {
  display: block;
  width: 100%;
  margin: auto;
  max-height: 300px;
  object-fit: cover;
  object-position: center;
}


.img-container {
  
  position: relative;
}

.img-content {
  position:absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -20%);
  opacity: 0;
  z-index: 2;
  text-align: center;
  transition: all 0.3s ease-in-out 0.1s;
}

.img-content h3 {
  color: #fff;
  font-size: 1.5 rem;
}

.img-content a {
  font-size: 1.2rem;
}

.img-container::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(18, 100, 117, 0.871);
  opacity: 0;
  z-index: 1;

  transform: scaleY(0);
  transform-origin: 100% 100%;
  transition: all 0.3s ease-in-out;
}

.img-container:hover::after {
  opacity: 1;
  transform: scaleY(1);
}

.img-container:hover .img-content {
  opacity: 1;
  top: 40%;
}

.gallery1{
  padding: 10px;
  
}
.gallery2{
  padding: 10px;
}
.gallery3{
  padding: 10px;
}
.gallery4{
  padding: 10px;
}
.gallery5{
  padding: 10px;
}
.gallery6{
  padding: 10px;
}




#footer h2 {
    box-shadow: 0px 7px 15px 0px #000000;
  text-align: center;
  font-size: 1.3rem;
 
  padding: 2.6rem;
  font-weight: 500;
  color: #fff;
  background: rgb(0, 0, 0);
}

#footer a:link {
  color: white;
  text-decoration: none; 
}

#footer a:visited {
  color: white;text-decoration: none;
}

#footer a:hover {
  color: rgb(226, 166, 231);
  text-decoration: none;
  
}

#footer a:active {
  color: rgb(141, 87, 196);
}



@media (max-width: 768px) {
  .navbar {
    opacity: 0.95;
  }



  .logo {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 2rem;
  }



  .img-container {
    margin: 0;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 65%;
  }

  .navbar .menu-items li {
    font-size: 1.6rem;
  }

  .logo {
    position: absolute;
    top: 06px;
    right: 15px;
    font-size: 3rem;
  }

  .navbar .menu-items li {
    margin-bottom: 2.5rem;
    font-size: 1.8rem;
    font-weight: 500;
  }
}


#myBtn {
  opacity: 0.8;
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  box-shadow:  0 0 3px 0 rgba(255, 255, 255, 0.5);
  border-radius: 100%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0); 
  cursor: pointer;
  padding: 15px; 
}
#myBtn:hover {
  opacity: 1;
}

.map {
  padding-bottom: 50px;
  text-align: center; 

}



#whatsApp {
  opacity: 0.85;
  position: fixed;
  bottom: 3rem;
  left: 3rem;
  box-shadow:  0 0 3px 0 rgba(255, 255, 255, 0.5);
  border-radius: 100%;
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(30, 214, 42); 
  cursor: pointer;
  padding: 15px; 
}
#whatsApp:hover {
  opacity: 1;
}
#learnmore{
  width: 13rem;
}

 .contact-links {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    .social-link {
        text-decoration: none;
        font-size: 20px;
        color: #333; /* Change color as needed */
        transition: color 0.3s ease;
    }

    .social-link:hover {
        color: #007bff; /* Change hover color as needed */
    }
